.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards.listing > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards.listing > ul > li {
  background-color: unset;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.listing > ul > li img {
  aspect-ratio: unset;
}

.cards.listing .cards-card-body, .cards.listing p {
  margin: 0;
}

.cards.listing .cards-card-body a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}

.cards.listing .cards-card-body.no-link:hover{
  cursor: unset;
}

.cards.listing ul li {
  border: none;
}

.cards.listing h2 {
  margin: 20px 0 0;
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-family: var(--body-font-family);
  font-weight: 400;
  font-feature-settings: 'clig' 0;
  font-style: normal;
  line-height: 1.2em;
}

.cards.listing .cards-image-container,
.cards.listing .cards-card-image {
  position: relative;
}

.cards.listing .cards-image-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--listing-card-logo-color);
  z-index: 999;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cards.listing .cards-image-logo img {
  padding: 10px;
  max-height: 50px;
  width: auto;
  max-width: 150px;
}

.cards.map-category ul li p .icon {
  height: 78px;
  width: 78px;
  margin: 0;
}

.cards.icons-grid .cards-card-body .icon img {
  background-color: var(--page-bloc-pictos-bg);
  border-radius: 5000px;
  line-height: 0;
  aspect-ratio: unset;
}

.biencommun .cards.icons-grid .cards-card-body .icon img {
  background-color: var(--biencommun-page-bloc-pictos-bg);
}

.cards.icons-grid button.carousel-prev {
    background-image: url('/icons/carousel_left.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
    height: 43px;
    width: 40px;
    background-color: var(--arbres-header-color);
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translateY(353%);
    order: 1;
    position: absolute;
    left: 8px;
}

.biencommun .cards.icons-grid button.carousel-prev {
  background-color: var(--biencommun-header-color);
}

.cards.icons-grid button.carousel-next {
    background-image: url('/icons/carousel_right.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    height: 43px;
    width: 40px;
    background-color: var(--arbres-header-color);
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    order: 3;
    position: absolute;
    transform: translateY(353%);
    right: 8px;
}

.biencommun .cards.icons-grid button.carousel-next {
  background-color: var(--biencommun-header-color);
}

.cards.icons-grid.statistics button.carousel-prev {
  transform: translateY(290%);
  left: 10px;
}

.cards.icons-grid.statistics button.carousel-next {
  transform: translateY(290%);
  right: 10px;
}

.cards.icons-grid button:disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.cards.listing .cards-card-body .cards-image-container .cards-card-image img {
  min-width: 230px;
  min-height: 225px;
}

.cards.icons-grid {
  width: 100%;
  display: flex;
  padding: 50px 0;
}

.cards.icons-grid.statistics {
  padding: 0;
}

.cards.icons-grid > ul {
  margin: 0 auto;
  list-style: none;
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  width: 100%;
  scroll-behavior: smooth;
  position: relative;
  order: 2;
  column-gap: 0;
  scroll-snap-type: x mandatory;
}

.cards.icons-grid > ul > li {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.cards.icons-grid .cards-card-body {
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.cards.icons-grid.statistics .cards-card-body {
  color: #FFF;
  font-weight: 400;;
  background-color: var(--site-color);
  border-radius: 5000px;
  margin: 0 auto;
  width: 55%;
  height: auto;
  aspect-ratio: 1/1;
  padding: 10%;
}

.biencommun .cards.icons-grid.statistics .cards-card-body {
  background-color: var(--biencommun-site-color);
}

.cards.icons-grid .cards-card-body > h4 {
  color: var(--site-color);
  text-transform: uppercase;
  font-weight: 430;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 1.28;
  padding-top: 20px;
  margin: 0;
  max-width: 450px
}

.biencommun .cards.icons-grid .cards-card-body > h4 {
  color: var(--biencommun-site-color);
}

.cards.icons-grid.statistics .cards-card-body > h4 {
  color: #fff;
  text-transform: unset;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: .08em;
  padding-top: 35px;
}

.cards.icons-grid .cards-card-body > h4:has(.icon) {
  line-height: 0;
  padding: 0 45px;
  margin: 0
}

/* Map category filter styling */
/* stylelint-disable-next-line selector-class-pattern */
.cards.map-category p {
  line-height: 1.5em;
  padding: 0;
  letter-spacing: .02em;
  margin: 0;
}

.cards.icons-grid .cards-card-body .icon {
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.cards.icons-grid .cards-card-body p {
  color: var(--site-color-2);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0;
  max-width: 450px;
}

.cards.map-category ul li:first-child p {
  text-transform: uppercase;
  color: var(--site-color);
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .05em;
}

.biencommun .cards.icons-grid .cards-card-body p {
  color: var(--biencommun-page-bloc-pictos-bg);
}

.cards.icons-grid.statistics .cards-card-body p {
  font-size: 80px;
  color: #FFF;
  padding: 0;
}

.cards.map-category ul.mobile-view li:first-child p {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

body.biencommun .cards.map-category ul li:first-child p {
  color: var(--site-color-bien);
}

@media (width >= 600px ){
  .cards.listing > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .cards.icons-grid > ul > li  {
    flex: 0 0 50%;
  }

  .cards.map-category .cards-card-body {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .cards.icons-grid .cards-card-body {
    width: calc(100% - 2em);
  }

  .cards.icons-grid.statistics .cards-card-body {
    width: 60%;
  }

  .cards.icons-grid.statistics .cards-card-body > h4 {
    padding-top: 40px;
  }
  
}

.cards.map-category ul {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0;
}

.cards.map-category ul li a[data-categoryid]:not([data-categoryid="category_10"]) span:has(img) {
  background-color: var(--site-color-2);
  border-radius: 50%;
}

.cards.map-category ul li {
  background-color: var(--map-carte-icone-container);
  border: none;
}

body.biencommun .cards.map-category ul li {
  background-color: var(--map-carte-icone-container-bien);
}

.cards.map-category a[data-categoryid="all"] {
  font-size: 18px;
}

body.biencommun .cards.map-category ul li a[data-categoryid]:not([data-categoryid="category_10"]) span:has(img) {
  background-color: var(--site-color-2-bien);
}

.cards.map-category ul li > a[data-categoryid]:not([data-categoryid="all"]) + div p {
  font-size: 12px;
  text-align: left;
  padding: 0 0 20px;
}

/* stylelint-disable-next-line selector-class-pattern */
.cards.map-category a.works_categorylink {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
  transition: opacity 0.3s ease;
}

/* stylelint-disable-next-line selector-class-pattern */
.cards.map-category a.works_categorylink:hover {
  opacity: 0.7;
}

/* stylelint-disable-next-line selector-class-pattern */
body.biencommun .cards.map-category a.works_categorylink {
  color: var(--site-color-2-bien);
}

/* stylelint-disable-next-line selector-class-pattern */
.cards.map-category a.works_categorylink.active {
  opacity: .5;
}

/* Hide first two li elements of map-category block in mobile view */

  .cards.map-category > ul:not(.mobile-view) > li:nth-child(1),
  .cards.map-category > ul:not(.mobile-view) > li:nth-child(2) {
    display: none;
  }

  .cards.map-category ul.mobile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


 main .cards-buttons{
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0 20px;
 } 

 main .section.cream-bg.cards-container{
  margin-top: 0;
 }

main .cards-buttons .button-desc-btn{
  flex-direction: row;
  margin-left: auto;
  background-image: url('/icons/btn_arbres_filtre_top.svg');
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding-bottom: 6px;
}

main .cards-buttons .button-asc-btn {
  background-image: url('/icons/btn_arbres_filtre_bottom.svg');
  background-repeat: no-repeat;
  padding-bottom: 6px;
  height: 30px;
  width: 30px;
}

.biencommun main .cards-buttons .button-desc-btn{
  background-image: url('/icons/btn_bien_filtre_top.svg');
}

.biencommun main .cards-buttons .button-asc-btn {
  background-image: url('/icons/btn_bien_filtre_bottom.svg');
}

main .cards-buttons .button-desc-btn:hover, 
main .cards-buttons .button-asc-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (width >= 900px){
  main .cards-buttons{
  padding: 0 80px;
 } 

}

/* Consolidated desktop styles */
@media (width >= 900px) {
  .cards.listing > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .cards.icons-grid .cards-card-body .icon {
    width: 100%;
    height: 100%;
  }

  .cards.icons-grid.statistics {
    flex-direction: column;
  }
  
  .cards.icons-grid > ul {
    overflow: unset;
    width: unset;
    column-gap: 0;
  }
  
  .biencommun .cards.icons-grid > ul {
    overflow: hidden;
  }

  .cards.icons-grid.statistics > ul {
    overflow: hidden;
    margin: unset;
    column-gap:  10px;
  }

  .cards.icons-grid > ul > li  {
    flex: 0 0 33.33%;
    padding-left: 0;
  }

  .cards.map-category .cards-card-body {
    margin: 10px;
    display: flex;
    justify-content: left;
  }

  .cards.icons-grid.statistics .cards-card-body {
    margin: 0;
    width: 90%;
    padding: 0;
  }

  .cards.icons-grid .cards-card-body p {
    max-width: 250px;
  }

  .cards.icons-grid .cards-card-body > h4:has(.icon) {
    padding: 0 70px;
  }

  .cards.icons-grid .cards-card-body > h4:nth-of-type(2){
    max-width: 250px;
  }

  .cards.icons-grid.statistics .cards-card-body > h4 {
    padding-top: 50px;
  }

  .cards.icons-grid button {
    display: none;
  }
  
  .biencommun .cards.icons-grid button {
    display: unset;
  }

  .cards.icons-grid.statistics button {
    display: unset;
  }

  .cards.map-category ul.mobile-view {
    display: none;
  }

  .cards.map-category > ul:not(.mobile-view) > li:nth-child(1),
  .cards.map-category > ul:not(.mobile-view) > li:nth-child(2) {
    display: block;
  }

  @media (width >= 1200px) {
    .cards.icons-grid > ul {
      margin-left: 50px;
    }
    
    .cards.icons-grid.statistics > ul {
      overflow: unset;
      column-gap: 7px;
    }

    .biencommun .cards.icons-grid > ul {
      column-gap: 10px;
    }

    .cards.icons-grid.statistics > ul > li  {
      flex: 0 0 25%;
      padding-left: 0;
    }
    
    .biencommun .cards.icons-grid > ul > li  {
      flex: 0 0 25%;
    }

    .cards.icons-grid.statistics .cards-card-body {
      width: 93%;
    }

    .cards.icons-grid.statistics button {
      display: none;
    }

    .biencommun .cards.icons-grid button {
      display: none;
    }
  }
}